.weights {
  border: 1px solid #BEC5D2;
  height: 24px !important;
  margin: 3.5px !important;
}
.buzz-weight {
  height: 48px !important;
  border: 2px solid #5d6a85;
  margin: 3.5px !important;
}
.selected-weight{
    height: 78px !important;
    border: 3.5px solid #0F67FE !important;
}