.details-container {
  height: 80vh;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wavesurfer {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 175px;
}
.details-header{
  color: #242E49;
  font-size: 30px !important;
  line-height: 38px !important;
}